.signup{
    background-image: linear-gradient(to right bottom, #f9c5e3, #ffc6d6, #ffc9c9, #ffcfbf, #ffd5b8, #fddab8, #fadfb8, #f6e4ba, #f7e9bd, #f7eec0, #f8f3c4, #f8f8c8);
    min-height: 100dvh;
    
}
#app{
    background-color: rgb(245, 245, 23);
}